@mixin mobile {
    @media screen and (max-width: 430px){
        @content;
    }
}

.ListItem{
    &__container{


    @include mobile{
        margin: 0;
        align-items: center;
    }
        &__list{
            list-style-type: none;

            &--li{
                text-align: left;
                background-color: rgb(255, 133, 175);
                border-radius: 10px;
                border: 2px solid red;
                margin: 5px;
                padding: 0.5rem 1rem;
                >div{
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    >h4{
                        margin-bottom: 0;
                    }
                }
            }
        }
        
    }

        
}
    
.EditIcon{
    color: whitesmoke;
}
.EditIcon:hover{
    color:rgb(62,0,12);
}

.SaveIcon{
    color: whitesmoke;
}
.SaveIcon:hover{
    color:rgb(62,0,12);
}

.EditConfirm--Btn{
    border-style: none;
    background-color: rgb(255, 133, 175);
}